<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Livre de Recettes</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recettes">Recettes</a></li>
        <li routerLinkActive="active"><a [routerLink]="[ '/liste-achat']">Liste d'achats</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
            <li><a routerLink="/creation-compte">Créer un compte</a></li>
            <li><a routerLink="/connexion">Se Connecter</a></li>
        </ng-template>
        <li *ngIf="authService.isAuthenticated()">
          <a style="cursor: pointer;" (click)="onLogOut()">Se deconnecter</a></li>
        <li class="dropdown" appDropdown *ngIf="authService.isAuthenticated()">
          <a class="dropdown-toggle" role="button">Données <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ><a  style="cursor: pointer;" (click)="onStore()">Sauvegarder</a></li>
            <li><a style="cursor: pointer;" (click)="onFetchData()">Restaurer</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
